/空气数据集-没清理以前的.rar
/2019
/2020
/2021
/2010
/2011
/2012
/2013
/2014
/2015
/2016
/2017
/2018
/2023
/2022/*.gz
/isd-history-cn已确认.csv
/isd-inventory.csv
/isd-inventory.csv.z
/isd-inventory.txt
/isd-inventory.txt.z
/isd-lite-technical-document.txt
/isd-problems.docx
/isd-problems.pdf
/ish-abbreviated.txt
/ish-history.csv
/ish-history.txt
.Rproj.user
/mysql-airdata_2011-2023.rar
/R/bak
/country-list.txt
/isd-lite-format.pdf
